@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

@media (max-width: 1023px) {
	.right-image {
			position: relative;
			bottom: -95px;
	}
}

.details {
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.form-conainer{
    display: flex;
    flex-direction: column;
}

.input {
    padding: 20px;
}

