.header {
    margin-top: -50px;
    width: auto;
    height: 70px;
    background-color: rgb(59, 58, 58);
}

.header > h5 {
    display: flex;
    padding-top: 17px;
    padding-left: 80px;
    font-size: 30px;
    text-align: left;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    gap: 50px;
}

.first, .second, .third, .fourth, .fifth, .sixth {
    width: 180px;
    height: 135px;
    border-radius: 50%;
    background-color: #757575;
    padding-top: 25px;
}

.first > h5, .second > h5, .third > h5, .fourth > h5, .fifth > h5, .sixth > h5 {
    color: whitesmoke;
    font-size: 20px;
}
