.sub-header {
    display: flex;
    align-items: center;
    width: auto;
    height: 70px;
    background-color: rgb(59, 58, 58);
}

.sub-header > h5 {
    /* margin-top: 15px;
    padding-left: 80px; */
    padding-right: 800px;
    margin-left: 20px;
    font-size: 30px;
    text-align: left;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}